* text=auto
*.csv text eol=lf
*.html text eol=lf
*.json text eol=lf
*.ipynb text eol=lf
*.md text eol=lf
*.py text eol=lf
*.gz binary
*.joblib binary
*.npz binary
*.pdf binary
*.png binary
*.pt binary
*.part* binary
*.txt text eol=lf
